<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Flairs</h1>

      <button class="btn btn-primary" onclick="window.location.href = '/flairs/new';">New Flair</button><br><br>

      <ul class="list-group">
        <% flairs.forEach((flair) => { %>
          <li class="list-group-item">
            <a href="/flairs/<%= flair.id %>"> <%= flair.name %> : <%= flair.color %> </a>
            <form
            style="display:initial"
            action="/flairs/<%= flair.id %>/destroy"
            method="post"
          >
            <button type="submit" class="btn btn-danger float-right">Delete</button>
          </form>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>